@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
	--dark-color-a: #667aff;
	--dark-color-b: #7386ff;
	--light-color: #e6e9ff;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}



ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	background: var(--light-color);
	color: var(--dark-color-a);
	border: 0;
	font-size: 17px;
}

/* Chat Page */


/* Join Page */
.join-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 100%;
	color: #fff;
	padding: 30px;
}

.join-container .user-information {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70%;
	height: 95%;
	background-color: rgb(183, 255, 255);
	margin-right: 20px;
	border-radius: 10px;
}

.user-information #btn-create-chat-room {
	display: block;
	margin-top: 20px;
	border: 0;
	border-radius: 10px;
	width: 100px;
	height: 40px;
	font-size: 16px;
	background-color: rgb(8, 160, 160);
	color: var(--light-color);
}

.user-information #btn-create-chat-room:hover {
	cursor: pointer;
	opacity: 0.7;
}

.join-container .username {
	color: #000;
	margin-right: 20px;
	font-size: 20px;
}

.user-information #input-username {
	border-radius: 10px;
	border: 0;
	width: 300px;
	height: 40px;
	padding: 10px;
	font-size: 16px;
}

.join-container .chat-rooms {
	overflow-y: scroll;
	width: 30%;
	height: 480px;
	background-color: rgb(183, 255, 255);
	border-radius: 10px;	
}

.chat-rooms .chat-room {
	background-color: var(--light-color);
	color: #000;
	margin: 12px;
	border-radius: 10px;
}

.chat-room .chat-room-header {
	background-color: var(--dark-color-a);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 5px;
}

.chat-room .chat-room-main {
	padding-top: 10px;
	padding-bottom: 10px;	
}

.chat-room-main .chat-room-online-user,
.info-room-container .chat-room-online-user {
	font-size: 26px;
}

.chat-room-main .chat-room-btn-join {
	border: 0;
	background-color: rgb(8, 160, 160);
	color: white;
	border-radius: 10px;
	width: 100px;
	height: 30px;
	margin-top: 10px;
}

.chat-room-main .chat-room-btn-join:hover {
	cursor: pointer;
	opacity: 0.7;
}

/* Messenger Page */
.mess-container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center
}

.mess-container .messenger {
	width: 80%;
	/* min-height: 92%; */
	height: auto;
	margin-right: 20px;
	box-sizing: border-box;
	border-radius: 10px;
	background-color: rgb(202, 244, 251);
}

.mess-container .messenger .messenger-text {
	height: 550px;
	overflow-y: scroll;
	border-bottom: 1px solid #ccc;
	border-radius: 10px;
	padding-bottom: 10px;
}

.messenger .others-mess-area .messTop {
	display: flex;
	flex-direction: row-reverse;
}

.messenger .user-mess-area .messTop,
.messenger .others-mess-area .messTop {
	display: flex;
}

.user-mess-area .messImg {
	width: 50px;
	height: 50px;
	margin-top: 20px;
	margin-left: 20px;
	border: 1px solid #ccc;
	border-radius: 50%;
}

.others-mess-area .messImg {
	width: 50px;
	height: 50px;
	margin-top: 20px;
	margin-right: 20px;
	border: 1px solid #ccc;
	border-radius: 50%;
}

.others-mess-area .mess-text {
	max-width: 400px;
	background-color: rgb(71, 132, 213);
	margin-top: 30px;
	margin-right: 20px;
	color: var(--light-color);
	border-radius: 10px;
	padding: 10px;
}

.user-mess-area .mess-text {
	max-width: 400px;
	margin-top: 30px;
	margin-left: 20px;
	background-color: rgb(28, 205, 96);
	color: var(--light-color);
	border-radius: 10px;
	padding: 10px;
}

.user-mess-area .messBottom {
	margin-right: 78%;
	margin-top: 5px;
}

.others-mess-area .messBottom {
	margin-left: 78%;
	margin-top: 5px;
}	

.messenger .text-area {
	box-sizing: border-box;
	width: 100%;
	height: auto;
	display: flex;
	margin-bottom: 20px;
	justify-content: space-around;
	margin-right: 20px;
	margin-top: 40px;
	padding-left: 10px;
	padding-right: 10px;
}

.text-area .text-mess .text-input {
	width: 800px;
	height: 80px;
	padding: 10px;
	border-radius: 10px;
	font-size: 16px;
}

.text-area .text-btn .text-send {
	border: 0;
	background-color: rgb(71, 132, 213);
	color: var(--light-color);
	border-radius: 10px;
	width: 100px;
	height: 40px;
	font-size: 16px;
	margin-top: 16px;
	
}

.text-area .text-btn .text-send:hover {
	cursor: pointer;
	background-color: rgb(62, 117, 188);
}

/* 150% */
@media (min-width: 900px) and (max-width: 1000px) {
	.mess-container .messenger {
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.messenger .text-area {
		margin-top: 20px;
		height: 50px;
	}
	
	.text-area .text-mess .text-input {
		width: 500px;
		height: 60px;
	}

	.text-area .text-btn .text-send {
		border: 0;
		background-color: rgb(71, 132, 213);
		color: var(--light-color);
		border-radius: 10px;
		width: 80px;
		height: 30px;
		font-size: 16px;
		margin-top: 16px;
		
	}

	.user-mess-area .messBottom {
		margin-right: 68%;
	}

	.others-mess-area .messBottom {
		margin-left: 68%;
	}

	.mess-container .info-room-container {
		margin-bottom: 53% !important;
	}
}

/* 110% */
@media (min-width:1200px) and (max-width: 1400px) {
	.mess-container .messenger {
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.text-area .text-mess .text-input {
		width: 700px;
		height: 60px;
	}

	.text-area .text-btn .text-send {
		margin-top: 10px;
	}
}

/* 125% */
@media (min-width:1000px) and (max-width: 1300px) {
	.mess-container .messenger {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	
	.text-area .text-mess .text-input {
		width: 600px;
		height: 60px;
	}

	.text-area .text-btn .text-send {
		margin-top: 10px;
	}

	.user-mess-area .messBottom {
		margin-right: 72%;
	}

	.others-mess-area .messBottom {
		margin-left: 72%;
	}

	.mess-container .info-room-container {
		margin-bottom: 47% !important;
	}
}

.mess-container .info-room-container {
	margin-bottom: 38%;
}

.info-room-container .back-icon {
	width: 16%;
}

.info-room-container .back-icon:hover {
	cursor: pointer;
	opacity: 0.8;
}

.info-room-container .info-room {
	background-color: rgb(202, 244, 251);
	height: 120px;
	margin: 20px;
	border-radius: 10px;
}

.info-room-container .chat-room-name {
	padding: 16px;
}